@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.general {
  background-color: #F2F2F2;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  min-height: 100vh;
  margin: 0;
}

.page {
  background-color: #FFFFFF;
  display: grid;
  width: 1200px;
  min-height: 100vh;
  grid-template-rows: 65px 1fr 120px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.header {
  margin: 0;
  height: 66px;
}

/* .main {
  display: grid;
} */

.navigation {
  display: grid;
  height: 66px;
  grid-template-columns: 209px 360px auto;
  margin: 0;
}

.logo-header {
  grid-column: 1/2;
  position: absolute;
  padding-left: 70px;
  z-index: 1;
}

.nav-list {
  display: grid;
  grid-column: 2/3;
  list-style: none;
  grid-template-columns: 68px 82px 93px;
  height: 66px;
  margin: 0;
  margin-left: 47px;
  align-items: center;
  padding: 0;
  column-gap: 34px;
}

.nav-link {
  text-decoration: none;
  font-weight: 700;
  color: #333333;
}

.nav-link:hover {
  color: #756257;
}

.nav-link:active {
  color: #756257;
  opacity: 0.3;
}

.link-index-page::before {
  position: absolute;
  content: "";
  top: 64px;
  background-color: #756257;
  height: 2px;
  width: 68px;
  z-index: 1;
}

.link-hotels::before {
  position: absolute;
  content: "";
  top: 64px;
  background-color: #756257;
  height: 2px;
  width: 93px;
}

.additional-list {
  display: grid;
  justify-content: end;
  grid-template-columns: auto auto 160px;
  list-style: none;
  max-height: 66px;
  margin: 0;
  padding-right: 70px;
}

.menu-item {
  display: grid;
  justify-content: center;
  min-width: 42px;
  min-height: 42px;
}

.menu-item:nth-child(2) {
  margin-right: 20px;
}

.additional-menu-btn {
  position: relative;
  min-width: 42px;
  min-height: 42px;
}

.svg-search {
  position: relative;
  top: 22px;
  left: 11px;
}

.svg-like {
  position: relative;
  top: 21px;
  left: 11px;
}

.svg-search path:hover,
.svg-like path:hover {
  color: #756257;
  fill: #756257;
}

.favourites-btn::after {
  position: absolute;
  text-align: center;
  content: "12";
  font-size: 10px;
  color: #ffffff;
  width: 20px;
  height: 20px;
  top: 15px;
  left: 24px;
  border-radius: 10px;
  background-color: #7db54f;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu-btn {
  display: grid;
  justify-content: center;
  align-items: center;
}

.welcome-section {
  position: relative;
  background-image: url(/images/backgrounds/index-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 51px;
  height: 434px;
}

.welcome-section::after {
  position: absolute;
  content: "";
  top: 428px;
  background-image: url(/images/backgrounds/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 57px;
  left: 0px;
  right: 0px;
}

.welcome-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 82px;
}

.advantages-section {
  display: grid;
  grid-template-rows: repeat(4, 384px);
  grid-template-columns: repeat(3, 400px);
  grid-template-areas: "item-big img-big img-big"
    "item-home item-food item-souvenirs"
    "img-big-2 img-big-2 item-big-2"
    "item-3 item-4 item-5";
  margin: 0 auto;
  width: 1200px;
}

.info-container {
  margin: 0;
  padding-top: 63px;
  padding-bottom: 80px;
  height: max-content;
}

.info-title {
  line-height: 36px;
  margin: 0 auto;
  margin-bottom: 31px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.info-description {
  margin: 0 auto;
  font-family: inherit;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.advantages-item {
  display: grid;
  margin: 0 auto;
}

.item-container {
  padding-top: 98px;
  padding-bottom: 87px;
  margin: 0;
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
  text-transform: uppercase;
}

.adv-span {
  margin: 0;
  margin-bottom: 29px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.item-description {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.image-big-item {
  grid-area: img-big;
}

.item-blue {
  background-color: #83B3D3;
  color: #FFFFFF;
}

.item-home {
  margin: 0 auto;
  padding-top: 89px;
  padding-bottom: 79px;
  grid-area: item-home;
}

.item-food {
  grid-area: item-food;
  background: #FFFFFF;
}

.item-souvenirs {
  grid-area: item-souvenirs;
  padding-top: 85px;
}

.svg-home {
  margin: 0 auto;
  display: block;
  margin-bottom: 24px;
  margin-left: 163px;
}

.svg-food {
  margin: -7px 163px 24px 163px;
  display: block;
}

.svg-souvenirs {
  display: block;
  margin: 0px 168px 24px 168px;
}

.item-small-title {
  margin-bottom: 19px;
  color: #000000;
}

.image-big-item-2 {
  grid-area: img-big-2;
}

.big-item-2 {
  grid-area: item-big-2;
}

.item-3 {
  grid-area: item-3;
}

.item-4 {
  grid-area: item-4;
  background: rgba(131, 179, 211, 0.2);
}

.item-5 {
  grid-area: item-5;
}

.search-section {
  padding-top: 90px;
  padding-bottom: 93px;
}

.search-title {
  margin-bottom: 29px;
}

.search-description {
  margin-bottom: 56px;
  line-height: 26px;
}

.subscribe-section {
  background-image: url(/images/backgrounds/background-subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe-title {
  color: #FFFFFF;
  margin-bottom: 29px;
}

.subscribe-description {
  color: #FFFFFF;
  line-height: 26px;
  margin-bottom: 46px;
}

.subscription-main-form {
  display: grid;
  grid-template-columns: 600px 200px;
  grid-template-rows: 60px;
  justify-content: center;
  margin: 0 auto;
  padding-left: 200px;
  padding-right: 200px;
}

.field-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto;
  border: none;
  width: 559px;
  height: 60px;
  padding: 0 19px 0 22px;
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
}

.field-input:hover {
  background: #E6E6E6;
}

.field-input:focus {
  outline: 3px solid #83B3D3;
}

.field-input:invalid {
  outline: 2px solid #FF5757;
}

.footer {
  display: grid;
  grid-template-columns: 190px 1fr 260px;
}

/* Разобраться с псевдоклассами в footer */

.social-list {
  height: max-content;
  list-style: none;
  display: grid;
  margin-top: 38px;
  grid-template-columns: repeat(3, 40px);
  column-gap: 4px;
  grid-template-rows: 40px;
  padding-left: 61px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-item a {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
}

.link-twitter svg {
  position: absolute;
  top: 12px;
  left: 11px;
}

.link-facebook svg {
  position: absolute;
  top: 11px;
  left: 14px;
}

.link-youtube svg {
  position: absolute;
  top: 12px;
  left: 10px;
}

.social-item a:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

/* Шедевр! */
.social-item>a>svg>g>path:hover {
  fill: #68A2CA;
}

.social-item>a>svg>g>path:active {
  opacity: 0.3;
}

.footer-phone {
  display: block;
  padding: 15px;
  height: max-content;
  text-decoration: none;
  font-family: inherit;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  margin: 0 auto;
  margin-top: 25px;
  margin-right: 161px;
}

.footer-phone:hover {
  color: #756257;
}

.footer-phone:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.footer-phone:active {
  opacity: 0.3;
}

.footer-htmlacademy {
  display: block;
  width: 160px;
  height: 70px;
  margin: 0 auto;
  margin-top: 23px;
  margin-left: 49px;
}

.htmlacademy-svg {
  fill: #000000;
  padding: 19px 23px;
}

.htmlacademy-svg:hover {
  fill: #756257;
}

.footer-htmlacademy:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.footer-htmlacademy:active {
  opacity: 0.3;
}

.main-container {
  display: grid;
  grid-template-rows: 409px 145px 1040px 157px 381px;
  grid-template-areas: "filter"
    "sorting"
    "catalog"
    "pagination"
    "subscribe";
}

.filter-section {
  grid-area: filter;
  background-image: url(/images/backgrounds/catalog-background-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -1px;
  color: #FFFFFF;
  padding: 35px 72px 83px 66px;
}

.filter-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-left: 6px;
}

.filter-container {
  padding-left: 5px;
}

.breadcrumbs {
  margin-top: -10px;
}

.breadcrumbs-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  list-style-type: none;
  width: max-content;
}

.breadcrumbs-item:nth-child(1) {
  width: 28px;
  height: 27px;
  margin-right: 3px;
}

.breadcrumbs-item:nth-child(2) {
  margin-right: 2px;
}

.breadcrumbs-item:nth-child(3) a {
  color: inherit;
  font-size: 16px;
  line-height: 20.7px;
  text-decoration: none;
}

.breadcrumbs-index {
  display: block;
  position: relative;
  width: 28px;
  height: 27px;
}

.breadcrumbs-index svg {
  position: absolute;
  top: 8px;
  left: 8px;
}

.breadcrumbs-hotels {
  display: block;
  position: relative;
  /* top: 0px; */
  width: 89px;
  height: 27px;
}

.breadcrumbs-hotels span {
  position: absolute;
  top: 5px;
  left: 8px;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  outline: none;
  opacity: 0.3;
}

.breadcrumbs-item:not(:nth-child(2)):hover {
  opacity: 0.6;
}

.breadcrumbs-item:nth-child(3) {
  position: relative;
  width: 89px;
  height: 27px;
}

.breadcrumbs-item:nth-child(3):focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.filter-form {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  padding-top: 44px;
}

.filter-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.fieldset-title {
  padding: 0;
  font-weight: 700;
  line-height: 25.88px;
  margin-bottom: 27px;
}

.filter-fieldset ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-infrastructure {
  padding-right: 67px;
}

.infrastructure {
  position: relative;
  display: block
}

.infrastructure-item:nth-child(1),
.infrastructure-item:nth-child(2) {
  margin-bottom: 10px;
}

.svg-checkbox {
  position: absolute;
  color: #FFFFFF;
  top: 3px;
  left: 1px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.infrastructure-input[type="checkbox"]:hover+.svg-checkbox {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.infrastructure-input[type="checkbox"]:focus+.svg-checkbox {
  background: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.infrastructure-input[type="checkbox"]:active+.svg-checkbox {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
}

.infrastructure-input[type="checkbox"]:checked+.svg-checkbox {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(/images/svg/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: 3px;
  left: 1px;
}


.checkbox-title {
  font-family: inherit;
  font-size: 18px;
  line-height: 23.29px;
  padding-left: 40px;
}

.type-item {
  position: relative;
}

.type-item:nth-child(1),
.type-item:nth-child(2) {
  margin-bottom: 10px;
}

/* .type-item input[type=radio] {
  display: none;
} */

.type-item label {
  position: relative;
  padding-left: 41px;
  margin-right: 0;
  user-select: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.svg-mark {
  position: absolute;
  content: "";
  background: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 3px;
  left: 2.5px;
}

.type-item label:hover:before {
  filter: brightness(120%);
}

.type-item input[type=radio]:focus+.svg-mark {
  outline: 3px solid #83B3D3;
}

.type-item input[type=radio]:checked+.svg-mark::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #3F5E72;
  border-radius: 50%;
  top: 5px;
  left: 5px;
}

.filter-type {
  margin-right: 167px;
}

.range-wrapper {
  display: grid;
  grid-template-columns: min-content min-content;
}

.range-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background: transparent;
  border: 2px solid #FFFFFF;
}

.filter-cost {
  margin-right: 81px;
}

.filter-cost legend {
  margin-bottom: 34px;
}

.range-field {
  position: relative;
}

.range-from input {
  margin-left: 1px;
  border-radius: 4px 0px 0px 4px;
  padding-left: 16px;
  padding-top: 13px;
  padding-bottom: 8px;
  padding-right: 45px;
}

.range-from::after {
  position: absolute;
  right: 15px;
  bottom: 13px;
  content: "от";
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.3;
}

.range-field input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.range-from input:focus {
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 0px 3px #81B3D2;
  border-radius: 4px 0px 0px 4px;
}

.range-field input:focus-visible {
  outline-color: #81B3D2;
}

.range-before input:focus {
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 0px 3px #81B3D2;
  border-radius: 0px 4px 4px 0px;
}

.range-field input:active {
  background: #756257;
}

.range-before::after {
  position: absolute;
  right: 17px;
  bottom: 13px;
  content: "до";
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.3;
}

.range-before input {
  position: relative;
  box-sizing: border-box;
  border-radius: 0px 4px 4px 0px;
  padding-left: 13px;
  padding-top: 13px;
  padding-bottom: 8px;
  width: 143px;
}

.range-slider {
  position: relative;
  top: 28px;
  height: 4px;
  left: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-slider::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 227px;
  background-color: #FFFFFF;
}

.range-btn:focus {
  outline: 3px solid #83B3D3;
  border-radius: 5px;
}

.range-btn:active {
  border: 2px solid #83B3D3;
}

.range-btn {
  position: absolute;
  content: "";
  background-color: #FFFFFF;
  border-radius: 5px;
  border: none;
  width: 20px;
  height: 20px;
}

.toggle-min {
  bottom: -8px;
}

.toggle-max {
  bottom: -8px;
  right: 52px;
}

.filter-buttons {
  display: grid;
  grid-template-columns: 160px;
  grid-template-rows: 48px 48px;
  margin-top: 60px;
  gap: 15px;
}

.sorting {
  display: grid;
  grid-area: sorting;
  grid-template-columns: max-content max-content max-content;
}

.sorting-container {
  width: max-content;
  height: max-content;
  margin-right: 81px;
}

.sorting-title {
  height: max-content;
  width: max-content;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 48px;
  margin-left: 71px;
  margin-right: 192px;
  padding: 0;
}

.sorting-form {
  appearance: none;
  margin-top: 43px;
  padding-left: 17px;
  padding-top: 10px;
  padding-bottom: 12px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  width: 287px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background: url(/images/svg/dropdown.svg) 252px 19px no-repeat;
}

.sorting-form:hover {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}

.sorting-form:focus {
  outline: 2px solid #83B3D3;
  border-radius: 4px;
}

.sorting-form:active {
  outline: none;
  opacity: 0.3;
}

.mode-list {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  grid-template-rows: 48px;
  margin: 0;
  margin-top: 43px;
  padding: 0;
  gap: 8px;
  list-style: none;
}

.mode-list li {
  position: relative;
}

.mode-link {
  display: block;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  width: 44px;
  height: 44px;
  position: relative;
}

.mode-cards {
  background: url(/images/svg/mode-cards.svg) 14px 15px no-repeat;
}

.mode-slides {
  background: url(/images/svg/mode-slideshow.svg) 14px 15px no-repeat;
}

.mode-link-list {
  background: url(/images/svg/mode-list.svg) 14px 15px no-repeat;
}

.mode-link:focus-visible {
  outline: none;
}

.mode-link:focus {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}

.mode-link:hover {
  border: 2px solid #83B3D3;
  border-radius: 4px;
}

.mode-link:active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.catalog-hotels {
  display: grid;
  grid-area: catalog;
  grid-template-columns: repeat(3, 340px);
  grid-template-rows: 438px 438px auto;
  column-gap: 18px;
  row-gap: 10px;
  margin-left: 72px;
  margin-right: 72px;
  margin-top: 2px;
}

.hotel-card {
  padding: 17px 20px 20px 20px;
  text-decoration: none;
}

.hotel-card img {
  margin-bottom: 10px;
}

.hotel-card-title {
  margin: 0;
  margin-bottom: 16px;
}

.hotel-card-link {
  margin: 0;
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.hotel-card-description {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.card-description-title {
  margin-right: 74px;
}

.card-buttons {
  display: grid;
  grid-template-columns: 133px 140px;
  grid-template-rows: max-content;
  column-gap: 26px;
  margin-bottom: 16px;
}

.card-rating {
  display: grid;
  grid-template-columns: 91px 160px;
  column-gap: 49px;
}

.stars-2 {
  background: url(/images/svg/stars-2.svg) 0px 10px no-repeat;
}

.stars-3 {
  background: url(/images/svg/stars-3.svg) 0px 10px no-repeat;
}

.start-4 {
  background: url(/images/svg/stars-4.svg) 0px 10px no-repeat;
}

.hotel-rating {
  display: block;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 7px;
  text-transform: uppercase;
  background: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  width: 160px;
}

.button-container {
  margin-top: 21px;
  grid-row: 3/4;
  width: 1055px;
  max-height: 90px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  padding-top: 29px;
}

.pagination {
  display: grid;
  grid-area: pagination;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 55px; */
}

.pagination-list {
  margin: 0;
  margin-left: 72px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 55px);
  list-style: none;
  column-gap: 8px;
  padding-top: 29px;
  margin-right: 300px;
}

.pagination-item {
  width: 55px;
  height: 55px;
  background: #83B3D3;
  border-radius: 4px;
}

.pagination-item:nth-child(1) {
  background-color: #F2F2F2;
}

.pagination-link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 2px;
  margin-top: 14px;
}

.link-current {
  color: #000000;
}

.show-pieces {
  display: grid;
  grid-template-columns: max-content max-content;
}

.shown-pieces-title {
  margin: 0;
  margin-top: 44px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.show-form {
  padding-left: 15px;
  width: 160px;
  max-height: 48px;
  appearance: none;
  margin-left: 52px;
  margin-top: 32px;
  margin-bottom: 4px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background: url(/images/svg/dropdown.svg) 125px 19px no-repeat;
}

.subscribe-catalog {
  margin: 0;
  background: #FFFFFF;
  padding: 0px;
  grid-template-rows: repeat(3, min-content);
  /* padding-top: 73px; */
  /* padding-bottom: 141px; */
}

.subscribe-catalog h2 {
  color: #000000;
  margin-bottom: 46px;
}

.subscribe-catalog p {
  color: #333333;
}

.subscribe-section {
  display: grid;
  grid-area: subscribe;
}

.button {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}

.search-btn {
  display: block;
  align-self: center;
  margin: 0 auto;
  background-color: #756257;
  border-radius: 10px;
  width: 575px;
  padding-top: 15px;
  padding-bottom: 9px;
  max-height: 60px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
}

.search-btn:hover {
  background: #615048;
}

.search-btn:focus {
  outline: 3px solid #83B3D3;
}

.search-btn .button-span:active {
  opacity: 0.3;
}

.additional-btn {
  align-self: flex-start;
  background: #756257;
  border-radius: 4px;
  min-width: 160px;
  max-height: 36px;
  padding-top: 9px;
  padding-bottom: 8px;
  margin-top: 14px;
}

.additional-btn:hover {
  background: #615048;
}

.additional-btn:focus {
  outline: 3px solid #83B3D3;
}

.additional-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.btn-submit {
  display: block;
  background: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  border: none;
  font-size: 20px;
  line-height: 26px;
}

.btn-submit:hover {
  background: #68A2CA;
}

.btn-submit:focus {
  outline: 3px solid #756257;
}

.btn-submit .button-span:active {
  opacity: 0.3;
}

.button-apply {
  background: #83B3D3;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 21px;
}

.button-apply:hover {
  background: #68A2CA;
}

.button-apply:focus {
  outline: 3px solid #FFFFFF;
}

.button-apply span:active {
  opacity: 0.3;
}


.button-reset {
  display: block;
  height: 32px;
  width: 100px;
  background: transparent;
  border-radius: 4px;
  border: none;
  font-weight: 400;
  padding-left: 6px;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  margin-left: 29px;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:active {
  border: none;
  opacity: 0.3;
}

.button-detailed {
  background-color: #756257;
  border-radius: 4px;
  width: 133px;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 8px;
}

.button-favourites {
  background-color: #83B3D3;
  border-radius: 4px;
  width: 141px;
  text-align: center;
  padding-top: 9px;
}

.btn-in-favourites {
  background-color: #7DB54F;
}

.button-download {
  width: 620px;
  height: 60px;
  margin-left: 218px;
  background: #83B3D3;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}